<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="index, follow">
  <meta name="title" content="<%= title %>">
  <meta name="keywords" content="<%= keyword %>">
  <meta name="description" content="<%= desc %>">
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%= url %>">
  <meta property="og:title" content="<%= title %>">
  <meta property="og:description" content="<%= desc %>">
  <meta property="og:image" content="<%= img %>">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="<%= url %>">
  <meta property="twitter:title" content="<%= title %>">
  <meta property="twitter:description" content="<%= desc %>">
  <meta property="twitter:image:src" content="<%= img %>">
  <link href="/css/base.css" rel="stylesheet">
  <link href="/css/leaflet.css" rel="stylesheet">
  <title>
    <%= title %>
  </title>
</head>

<body>
  <div id="root"></div>
</body>

</html>